.container{
   width: 950px;
   background-color: silver;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   padding: 18px;
}
.top-nav {
   height: 150px;
   background-color: green;
   margin-bottom: 15px;
}
.side-nav {
   height: 300px;
   width: 200px;
   background-color: blue;
}
.main {
   height: 400px;
   width: 700px;
   background-color: red;
}
.sub-content {
   height: 200px;
   width: 210px;
   background-color: yellow;
   margin: 20px;
}
#advertisement {
   height: 120px;
   width: 660px;
   background-color: purple;
   margin: 20px;
}
.row {
   /* TODO - what should go here? */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}